.age-chart,
.gender-chart,
.map-chart{
	float: left;
}
.age-chart {
	margin-right: 60px;
	margin-bottom: 50px;
}
#rapleaf-generate-report {
	width: 250px;
	height: 50px;
	cursor: pointer;
	display: block;
	font-size: 24px;
	margin: auto;
	background: rgb(77,77,77);
	padding-left: 10px;
	padding-top: 20px;
	color: #FFF;
	background: -moz-linear-gradient(top, rgba(77,77,77,1) 0%, rgba(84,85,84,1) 42%, rgba(46,46,46,1) 63%, rgba(18,18,18,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,77,77,1)), color-stop(42%,rgba(84,85,84,1)), color-stop(63%,rgba(46,46,46,1)), color-stop(100%,rgba(18,18,18,1)));
	background: -webkit-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(84,85,84,1) 42%,rgba(46,46,46,1) 63%,rgba(18,18,18,1) 100%);
	background: -o-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(84,85,84,1) 42%,rgba(46,46,46,1) 63%,rgba(18,18,18,1) 100%);
	background: -ms-linear-gradient(top, rgba(77,77,77,1) 0%,rgba(84,85,84,1) 42%,rgba(46,46,46,1) 63%,rgba(18,18,18,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#121212',GradientType=0 );
	background: linear-gradient(top, rgba(77,77,77,1) 0%,rgba(84,85,84,1) 42%,rgba(46,46,46,1) 63%,rgba(18,18,18,1) 100%);
	border: 3px solid #FFF;
	border-radius: 5px;
}
#rapleaf-generate-report:hover {
	background: rgb(18,18,18);
	background: -moz-linear-gradient(top, rgba(18,18,18,1) 0%, rgba(46,46,46,1) 37%, rgba(84,85,84,1) 58%, rgba(77,77,77,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,18,18,1)), color-stop(37%,rgba(46,46,46,1)), color-stop(58%,rgba(84,85,84,1)), color-stop(100%,rgba(77,77,77,1)));
	background: -webkit-linear-gradient(top, rgba(18,18,18,1) 0%,rgba(46,46,46,1) 37%,rgba(84,85,84,1) 58%,rgba(77,77,77,1) 100%);
	background: -o-linear-gradient(top, rgba(18,18,18,1) 0%,rgba(46,46,46,1) 37%,rgba(84,85,84,1) 58%,rgba(77,77,77,1) 100%);
	background: -ms-linear-gradient(top, rgba(18,18,18,1) 0%,rgba(46,46,46,1) 37%,rgba(84,85,84,1) 58%,rgba(77,77,77,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#4d4d4d',GradientType=0 );
	background: linear-gradient(top, rgba(18,18,18,1) 0%,rgba(46,46,46,1) 37%,rgba(84,85,84,1) 58%,rgba(77,77,77,1) 100%);
}
.rapleaf-overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9998;
}

.rapleaf-close {
	width: 16px;
	height: 16px;
	background: url('../images/close.png') no-repeat;
	z-index: 9999;
	position: absolute;
	top: 6px;
	right: 5px;
	display: block;
	cursor: pointer;
}

.rapleaf-report-info {
	background: #FFF;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.65);
    color: #000000;
    font: 12px/18px arial,sans-serif;
    height: 100%;
    margin: 0 6px;
    overflow: auto;
    padding: 5px;
    position: relative;
}

.rapleaf-report-container {
	background-color: rgba(160, 160, 160, 0.4);
    border: 1px solid #000000;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 0 1px #EEEEEE inset, 0 0 15px rgba(0, 0, 0, 0.9);
    height: 146px;
    left: 555px;
    padding-bottom: 46px;
    position: absolute;
    top: 125px;
    width: 389px;
    z-index: 1;
}

.rapleaf-title {
    color: #000000;
    font: 12px/16px "Segoe UI",Arial,sans-serif;
    height: 16px;
    overflow: hidden;
    padding: 6px 0 6px 28px;
    text-shadow: 0 0 1px #FFFFFF, 3px 3px 5px #FFFFFF, -3px -3px 5px #FFFFFF, -3px 3px 5px #FFFFFF, 3px -3px 5px #FFFFFF;
    white-space: nowrap;
	margin: 0;
}

.rapleaf-report-container div.spinner {
	top: 15px;
	left: 15px;
	position: relative;
}

span.fadein {
	opacity: 0;
	display: block;	
	color: #000000;
}

.not-available {
	opacity: 0.5;
}

.up {
	background: url('../images/up.png') no-repeat;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.down {
	background: url('../images/down.png') no-repeat;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.equal {
	background: url('../images/equal.png') no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.top td {
	border-top: 1px solid #000;
}

.charts {
	float: left;
	width: 500px;
}

.charts div {
	margin-bottom: 20px;
}

.icon-32-csv {
	background: url('../images/csv_text.png') no-repeat;
}

.icon-48-users {
	background: url('../images/users.png') no-repeat;
}

.icon-48-rapleaf {
	background: url('../images/dashboard.png') no-repeat;
}

.icon-32-rerportGenerator {
	background: url('../images/report_add.png') no-repeat;
}

.report-info {
	width: 900px;
}

.report-info div {
	background: #FFF;
}

.analysis {
	width: 350px;
	float: left;
	margin-right: 60px;
	padding-right: 50px;
	padding-left: 20px;
}
.analysis h2 {
	margin-right: 0!important;
	margin-left: 0!important;
}

.analysis p {
	margin-left: 0!important;
}
.comparison-info {
	float: left;
	width: 350px;
	margin-bottom: 50px;
	padding-right: 50px;
	padding-left: 20px;
}
.comparison-info h2 {
	margin-right: 0!important;
	margin-left: 0!important;
}

.clear-both {
	clear: both;
}

.report-info h2 {
	color: #1C5985;
	border-bottom: 1px solid #1C5985;
	margin-left: 20px;
	margin-right: 50px;
	font-size: 20px;
}

.bottom-line td {
	border-bottom: 1px solid #CBCDCC;
}

.rapleaf-table td {
	padding: 5px 5px 0 5px;
}
.rapleaf-table {
	margin-bottom: 20px;
}

#form-compare {
	display: inline-block;
}

.rapleaf {
	position: relative;
	min-height: 35px;
}

.rapleaf h1 {
	margin-top: 0px;
}

#rapleaf-logo {
	background: url('../images/rapleaf_icon_dark.png') no-repeat;
	width: 135px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 0;
}

#rapleaf-logo a {
	width: 135px;
	height: 33px;
	display: block;
}

.rapleaf fieldset {
	border: none;
}

.first-time-run {
	margin: 0 auto;
	width: 400px;
}